<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Med-Info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'contact'%}">Contacts</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{%url 'about'%}">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{%url 'chatbot'%}">Chatbot</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Admin</a>
            <a class="dropdown-item" href="#">Doctor</a>
            <a class="dropdown-item" href="#">Patient</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>