{%include 'base.html'%}
{%include 'navigation.html'%}

{%block content%}
<style>
    body{
        background-color: #cccccc;
    }
</style>

{% if error == "no"%}
    <script>
        alert("logged in successfully");
        window.location.replace ("{% url 'index' %}");
    </script>
{% endif %}

{% if error == "yes"%}
    <script>
        alert("Invalid Login");

    </script>
{% endif %}


<div class="container">
    <h2 class="text-center">Login </h2>
    <form method="POST">
        {% csrf_token %}
        <label>Admin Name</label>
        <input type="text" class="form-control" name="uname">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd">

        <input type="submit" value="Login" class="form-control btn btn-primary">
    </form>
</div>
{%endblock content%}