{%include 'base.html'%}
{%load static%}
{%include 'navigation.html'%}


<style>
    body{
        background-color: #cccccc;
    }
</style>


<div>
    <h2 class="text-center"> View patient </h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <th> Gender </th>
                <th class="text-left"> Mobile </th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            {%for i in pat%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.gender}}</td>
                <td class="text-left">{{i.mobile}}</td>
                <td><a href="{%url 'delete_patient' i.id%}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
